.inventory-panel
  position: absolute
  left: 30px
  top: 30px

  .panel-heading
    padding:0

  .panel-title
    padding: 10px 15px

  .inventory-grid
    position: relative

  .inventory-item
    position: absolute
    width: 35px
    height: 35px
    margin: 2px
    border: 1px solid #999
    cursor: pointer
    background: white

.inventory-content
  position: absolute
  width: 33px
  height: 33px
  background: #eee

.toolbar-inventory
  margin-top: 10px
